<% if current_user %>
  <p>Hello, <%= current_user.screen_name %></p><br>
  <%= link_to "Logout", logout_path, method: :delete %>
<% else %>
  <%= link_to "Click here to sign in with GitHub", github_login_path %>
<% end %>
